.nav-title {
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: black ;
}

.nav-title:hover {
    color: white;
}

.btn{
    padding-right: 100px;
    padding-left: 100px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: white; 
    border: 2px solid black;
    display: table;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.home, .messages, .profile{
    height: 30%;    
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.home{
    background-color: black;
    
}

.home a:hover {
    color: white;
}

.messages a:hover {
    color: cyan;
}

.profile a:hover {
    color: cyan;
}
